.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f2ef;
  /* background-image url("https://marketplace.canva.com/EAFSUH0EweU/1/0/1600w/canva-black-elegant-personal-linkedin-banner-eEN5zzEf5VA.jpg"); */
  background:linear-gradient(40deg,rgb(81, 81, 229),rgb(213, 213, 252),rgb(81, 81, 229),rgb(213, 213, 252),rgb(81, 81, 229),rgb(213, 213, 252))  ;
  z-index: -1;
}

.auth-container {
  background: #fff;
  padding: 2rem;
  max-width: 400px;
  margin: 4px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 5px;
}

.auth-container input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-container button {
  background-color: #0073b1;
  color: white;
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #005582;
}

.auth-container p {
  margin-top: 5px;
}

.auth-container a {
  color: #0073b1;
  text-decoration: none;
}

.home-container {
  text-align: center;
  padding: 5px;
  z-index: 1;
}

